* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 1500px;
}

header {
    display: inline-block;
    text-align: left;
    width: 50%;
    height: 50px;
    color: white;
}

header h1 {
    width: 100%;
}

header p {
    font-style: italic;
    font-size: medium;
    line-height: 17px;
}

nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: rgb(25, 38, 68);
    z-index: 10;
}

nav a {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: large;
    height: 30px;
    width: 10%;
    margin-top: 12px;
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(90, 183, 220);
    text-decoration: none;
}

nav a:active {
    color: rgb(90, 183, 220);
    text-decoration: none;
}


#bg {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 730px;
    overflow: hidden;
    opacity: 0.8;
}

section {
    width: 100%;
    height: 730px;
}

.content {
    position: relative;
    width: 100%;
}


#myphoto {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 100px;
    height: 500px;
    width: 500px;
    border: 2px solid rgb(25, 38, 68);
}

.general p {
    color: rgb(25, 38, 68);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    position: relative;
    z-index: 3;
    left: 500px;
    top: 400px;
    width: 900px;
    line-height: 1.4;

}

.short {
    height: 600px;
    padding: 50px 100px;
}



.story {
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 50px;
    margin: 100px auto;
    width: 550px;

}

h2 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0;
    color: rgb(25, 38, 68);
}

p {
    font-size: 20px;
    line-height: 25px;
}

.frage {
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 100px;
    width: 500px;
    color: white;
    background-color: rgba(25, 38, 68, 0.9);
    padding: 50px 30px;
    border: 2px solid grey;
    border-radius: 10px;
}

.frage p {
    text-align: center;
    font-size: large;
}

.frage h3 {
    color: white;
    background: none;
    text-align: center;
    margin-bottom: 50px;
}

a:link {
    color: rgb(90, 183, 220);
    text-decoration: none;
}

a:visited {
    color: rgb(90, 183, 220);
    text-decoration: none;
}

.skills {
    padding: 70px 0;
    background: linear-gradient(0deg, rgba(25, 38, 68, 0.8) 0%, rgba(9, 9, 121, 0.6) 20%, rgba(43, 170, 255, 0.3) 100%);
    text-align: center;
}

.skills h2 {
    text-align: center;

}

.skills ul {
    margin: 30px 15%;
}

.skills li {
    text-align: center;
    font-size: 25px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid grey;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px 20px;
    margin: 10px 10px;

}


.priority img {
    height: 100%;
    position: relative;
    margin-right: 50px;
    display: inline-block;
    margin-bottom: -70px;
}

.priority .story {
    bottom: 110px;
}


h3 {
    font-size: 30px;
    padding-left: 15px;
    margin: 20px 0;
    width: 100%;
    color: rgb(25, 38, 68);
    background: linear-gradient(270deg, rgba(25, 38, 68, 0.8) 0%,
            rgba(9, 9, 121, 0.6) 20%,
            rgba(43, 170, 255, 0.3) 100%);

}



td {
    height: 50px;
    text-align: justify;
    margin: 10px 0;
    font-size: 20px;
}

.date {
    width: 30%;
    border-right: 3px solid rgb(25, 38, 68);
}

.activity {
    width: 50%;
}


.other li {
    font-size: 20px;
    list-style-type: none;
    line-height: 25px;
}


footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(25, 38, 68);
    padding-top: 15px;
}

footer p {
    color: white;
    font-size: small;
    line-height: 10px;

}