* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;

}

header {
    display: inline-block;
    position: relative;
    top: 0;
    text-align: left;
    width: 50%;
    height: 50px;
    color: white;
}

header h1 {
    width: 100%;
    margin: 0 0;
}

header p {
    font-style: italic;
    font-size: medium;
    width: 100%;
    margin: 0 0;
    line-height: 17px;
}

nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: rgb(25, 38, 68);
    min-width: 1200px;
    z-index: 10;
}

nav a {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: large;
    height: 30px;
    width: 10%;
    margin-top: 12px;
    position: relative;
    top: 0;
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

nav a:active {
    color: black;
    text-decoration: none;
}

#bg {
    position: absolute;
    top:0;
    z-index: 0;
    width: 1500px;
    max-height: 730px;
    overflow: hidden;
    opacity: 0.8;
    
}
.content {
    position: relative;
    padding: 100px 80px;
}

.general {
    position: relative;
    left: 50px;
    min-height: 600px;
    min-width: 500px;
    width: 100%;
    z-index: 1;
    margin-bottom: 30px;
    

}



#myfoto {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 50px;
    height: 500px;
    width: 500px;
    border: 2px solid grey;
    

}

#intro {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 0;
    
    top: 250px;
    
    max-width: 980px;
    line-height: 60px;

}

.story {
    display: inline-block;
    position: relative;
    width: 50%;
    min-width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 50px 70px;

}

h2 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0;
}

p {
    font-size: 20px;
    line-height: 25px;
}

.frage {
    display: inline-block;
    position: relative;
    bottom: 50px;
    max-width: 500px;
    color: white;
    background-color: rgba(25, 38, 68, 0.9);
    margin: 0 auto;
    padding: 50px 30px;
    border: 2px solid grey;
    border-radius: 10px;
}

.frage p {
    text-align: center;
    font-size: large;
}

.frage span {
    font-size: larger;
}

a:link {
    color: rgb(90, 183, 220);
    text-decoration: none;
}

a:visited {
    color: rgb(90, 183, 220);
    text-decoration: none;
}

.skills {
    border-top: 2px solid grey;
    margin-left: -80px;
    margin-right: -80px;
    background: linear-gradient(0deg, rgba(25, 38, 68, 0.8) 0%, rgba(9, 9, 121, 0.6) 20%, rgba(43, 170, 255, 0.3) 100%);
    min-width: 500px;
    padding-bottom: 30px;
}

.skills h2 {
    text-align: center;
}

.skills ul {
    margin: 0 15%;
}

.skills li {
    text-align: center;
    font-size: 25px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid grey;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px 20px;
    margin: 10px 10px;

}

#pic {
    width: 600px;
    position: relative;
    top: 30px;

}


h3 {
    font-size: 30px;
    padding-left: 15px;
    margin: 20px 0;
    width: 100%;
    background: linear-gradient(270deg, rgba(25, 38, 68, 0.8) 0%,
            rgba(9, 9, 121, 0.6) 20%,
            rgba(43, 170, 255, 0.3) 100%);
    ;
}



td {
    height: 50px;
    text-align: justify;
    margin: 10px 0;
    font-size: 20px;
}

.date {
    width: 30%;
    border-right: 3px solid rgb(25, 38, 68);
}

.activity {
    width: 50%;
}


.other li {
    font-size: 20px;
    list-style-type: none;
    line-height: 25px;
}


footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(25, 38, 68);
    padding-top: 8px;
}

footer p {
    color: white;
    font-size: small;
    line-height: 10px;

}